[project]
	description = GoodData Java SDK
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michal Vanco (michalvanco)
[access "refs/for/refs/*"]
	read = group user/Michal Vanco (michalvanco)
	push = group user/Michal Vanco (michalvanco)
	label-Code-Review = -2..+2 group user/Michal Vanco (michalvanco)
	label-Verified = -1..+1 group user/Michal Vanco (michalvanco)
	rebase = group user/Michal Vanco (michalvanco)
	removeReviewer = group user/Michal Vanco (michalvanco)
	submit = group user/Michal Vanco (michalvanco)
[access "refs/heads/*"]
	read = group user/Michal Vanco (michalvanco)
	create = group user/Michal Vanco (michalvanco)
	push = +force group user/Michal Vanco (michalvanco)
	pushMerge = group user/Michal Vanco (michalvanco)
[access "refs/tags/*"]
	push = +force group user/Michal Vanco (michalvanco)
	pushTag = group user/Michal Vanco (michalvanco)
	pushSignedTag = group user/Michal Vanco (michalvanco)
